includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
    level: 5
    ignoreErrors:
        - '#Trait .* is used zero times and is not analysed.#'
        - '#expects view-string\|null, string given#'
        - '#does not accept default value of type string#'
